@model QuanLySinhVien.Models.LopHoc

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa lớp học phần</h2>

<h3>Bạn có chắc chắn với hành động này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Khoa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khoas.TenKhoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenLop)
        </dt>

        <dd>
           Tên Lớp
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
