
@{
    ViewBag.Title = "Index";
}
<h2 style="color:red;text-align:center">website quản lý sinh viên</h2>
<h5 style="text-align:right">Vũ Cao Long - Hoàng Đức Mạnh</h5>
<img src="https://hnmu.edu.vn/upload/data/news/02-12-19/dt-hssv-co-cau.jpg" style="margin-right:20%" />
<img src="https://png.pngtree.com/element_our/png_detail/20181208/female-student-icon-png_265422.jpg"  style="height:247px;width:400px" />

